body{
    font-family: "Gabarito", sans-serif;
    background-color: #8058bf;
    font-size: 18px;
    line-height: 1.3;
}

.avatar img{
    width: 100px;
    border-radius: 100%;
}

.container{
    width: 334px;
    margin: 0 auto;
}

header{
    padding: 40px 0;
}


header h1{
    font-size: 20px;
    font-weight: 700;
}

header .container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.links a{
    font-weight: 700;
    text-decoration: none;
    color: #000;
    text-align: center;
    border: 2px solid #000;
    border-radius: 40px;
    padding: 10px;
    background-color: #b48df0;
    -webkit-box-shadow: 8px 8px 0px 0px #000000; 
    box-shadow: 8px 8px 0px 0px #000000;
}

.links a:hover{
    transform: translate(-2px, -2px);
    box-shadow: 10px 10px 0 0 #000;
}

footer .container{
    text-align: center;
    padding: 80px 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%vh;
}